.buildozer/

# python modules
cashaddress/
certifi/
chardet/
cryptos/
idna/
pyaes/
requests/
urllib3/
parsimonious/

# python modules for ethereum
cytoolz/
eth_hash/
eth_typing/
eth_utils/
hexbytes/
rlp/
tlz/
toolz/
py_eth_sig_utils/
py_ecc/
eth_abi/

# python module files
sha3.py
pbkdf2.py
six.py
mypy_extensions.py
cached_property.py
*.so

# ethereum chains id list
chains/

# other folders
__pycache__/
*.dist-info/
tests/

#debug data
logs.txt
data.json
servers.json

#contains the android package
#bin/
bin/old/
bin/tmp/
