.buildozer/

# python modules
cashaddress/
certifi/
chardet/
cryptos/
idna/
pyaes/
requests/
urllib3/

__pycache__/
*.dist-info/
tests/

#debug data
logs.txt
data.json

#contains the android package
#bin/
bin/old/
bin/tmp/